/* Write your CSS code here */
.crypo-currency-container {
  font-family: 'Roboto';
}

.heading {
  color: #00e7ff;
  font-size: 35px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 25px;
  }

  .crypto-currency-img {
    width: 100%;
  }
}

.coin-container {
  border: 2px solid #00e7ff;
  border-radius: 12px;
  padding-left: 0px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #092e33;
  height: 10vh;
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px;
  }
}

.header-name {
  font-size: 18px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header-name {
    font-size: 15px;
  }
}

.type-container {
  display: flex;
  justify-content: space-between;
  width: 22%;
}

@media screen and (max-width: 767px) {
  .type-container {
    width: 40%;
  }
}
